* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar Section */
.navbar-aligning-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 250px; */
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

/* Navbar Section Shared styles */
.navbar-section,
.logo-name,
.list-items,
.btn-contact {
    .quicksand-font {
        font-family: "Quicksand", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

}

.logo-name {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 28px;
}

.list-items {
    display: flex;
    gap: 35px;
    list-style-type: none;
}

.orange-li-home {
    font-size: 20px;
    color: rgb(254, 163, 1);
    font-weight: 700;
}

.sky-blue-li-about {
    font-size: 20px;
    color: rgb(1, 172, 253);
    font-weight: 700;
}

.bluish-green-li-facilities {
    font-size: 20px;
    color: rgb(5, 212, 223);
    font-weight: 700;
}

.violet-li-admission {
    font-size: 20px;
    color: rgb(93, 88, 239);
    font-weight: 700;
}

.btn-contact {
    width: 197px;
    height: 50px;
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    background-color: rgb(254, 163, 1);
    font-family: Quicksand;
    font-weight: 600;
    font-size: 20px;
}

.icn-hamburger {
    cursor: pointer;
    display: none;
}

.icn-hamburger i {
    color: orange;
    font-size: 33px;
}

/* Banner Section */

.banner-container {
    display: flex;
    margin: 40px 110px;
}

.banner-left {
    padding-top: 122px;
    display: flex;
    flex-direction: column;
}

h1,
body,
button {
    .quicksand-font {
        font-family: "Quicksand", serif;
        font-optical-sizing: auto;
        font-style: normal;
    }
}

.h1-typography {
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    text-align: left;
    padding-bottom: 24px;
}

.orange-h1 {
    color: rgb(254, 163, 1)
}

.blue-h1 {
    color: rgb(1, 172, 253);
}

.p-typography {
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.btn-shared-style {
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    width: 197px;
    height: 50px;
    gap: 10;
    padding: 10px;
    margin: 24px 0px;
}

/* Footer Section */
.footer-section-background {
    background: rgb(1, 172, 253);
}

.parent-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    padding: 81px 148px 114px 60px;
}

.logo-education {
    display: flex;
}

.kids-edu-h2 {
    font-size: 35.73px;
    font-weight: 700;
    line-height: 33.5px;
    letter-spacing: 0%
}

.p-footer {
    margin-top: 35px;
}

.about-school,
.keep-in-touch {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin-top: 45px;
    margin-bottom: 32px;
}

/* .about-school {
    font-size: 21px;
    font-weight: 600;
    line-height: 25px;

} */

.li-about-school {
    font-size: 16.96px;
    font-weight: 500;
    line-height: 21px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 19px
}

.footer-typography {
    font-family: Quicksand;
    color: rgb(255, 255, 255);
}

/* Media Query for Mobile Responsiveness */
@media screen and (max-width: 576px) {

    body {
        overflow-x: hidden;
        margin-right: 0;
    }

    /* Navbar Section */
    .navbar {
        display: flex;
        justify-content: space-between;
        margin-right: 0px;
        padding-left: auto;
        position: relative;
        /* align-items: flex-start;
        flex-direction: column; */
    }

    .navbar-aligning-div {
        padding: 10px;
        border-bottom: 2px solid orange;
        gap: 255px;
    }

    .list-items,
    .btn-contact,
    .h1-logo-name {
        display: none;
    }

    .icn-hamburger {
        display: block;
    }

    .navbar::after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        margin-top: 15px;
        background-color: #fff;
        border-bottom: 2px solid orange;
    }

    .logo {
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        flex: 1;
    }

    /* Banner Section */
    .banner-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        gap: 20;
        margin: 0 !important;
        padding: 20px 0px 20px 0px;
    }

    .hero-img {
        width: 346px;
        height: 413px;
        margin: 0px 20px;
        gap: 20px;
        /* padding-bottom: ; */
    }

    .banner-left {
        padding-top: 11px;
    }

    .h1-typography {
        font-family: Quicksand;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
        /* padding-top: ; */
        padding-bottom: 18px;
    }

    .p-typography {
        color: rgb(17, 17, 17);
        font-family: Quicksand;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        padding-left: 2.5px;
        padding-right: 2.5px;
    }

    .btn-shared-style {
        padding: 6px 24px 6px 24px;
        margin: 18px 85px;
    }

    /* Footer Section */
    .parent-container-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 0px;
        /* margin-left: 50px;
        margin-right: 50px; */
        /* padding: 81px 148px 114px 60px  ; */
    }

    .p-footer {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }

    .social-logos {
        display: flex;
        gap: 10px;
    }

    .keep-in-touch {
        display: flex;
        flex-direction: row;
    }
}